section{
  padding-top:10px;
}

code{
  padding:0;
} 

footer{
  padding:40px 20px;
  text-align:center;
  .edits{
    margin-right: 40px;
  }
}

body{
  padding:0px 20px;
}

h3{
  line-height:45px;
}

.tagline{
  margin-bottom: 40px;
}

.centered{
  text-align:center;
}

.page-header{
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6{
    margin:0;
  }
}

.hero-unit{
  margin-bottom:0;
}


#call_to_action{
  margin-top:1.5em;
}

pre.prettyprint{
  margin-bottom:5px;
}

.admin{
  #page{
    padding:60px 0 40px 0;
  }
  .hero-unit{
    padding: 0px 0 0.5em 0;
  }
}


.row.header{
  .actions{
    padding-top:0.9em;
  }
}

header.row{
  .pagination{
    margin:12px 0;
  }
}

.navbar{
  .status{
    position: relative;
    i{
      position: absolute;
      left:-28px;
    }
  }
}

.summary_bar{
  .status{
    margin-left: 10px;
  }
  .summary{
    margin-top:12px;
    background-color: #fff;

    // Box shadow
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.25);

    // Rounded borders (top only)
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;

    padding: 8px;
    margin-bottom: 10px;
    border-width: 0px;
  }
  #live-poll{
    line-height: 28px;
    &.active {
      background-color: $success_color;
    }
  }
  ul{
    margin: 0 0 38px 0;
    h3{
      font-size: 1em;
      margin:0;
      font-weight:normal;
      line-height: 1em;
    }
    li{
      padding:4px 0 2px 0;
    }
    .desc{
      font-size:1.1em;
      font-weight:normal;
    }
    .count{
      color: $highlight_color;
      font-size: 1.1em;
      font-weight:bold;
      float:right;
    }
  }
  .poll-status{
    height:58px;
    text-align: center;
    .text {
      font-weight: 300;
    }
    .time {
      color: #008800;
      font-weight: 320;
    }
  }
}

table.table-white {
  background-color: #fff;
}

#tiny-details {
  background-color: rgb(220,220,220);
  padding: 2px 10px 3px;
  color: #666;

  li {
    line-height: 1.0em;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
  }

  // Rounded borders (top only)
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  .desc { font-size: 0.9em; }
  .data { font-size: 0.9em; }
}

.queues{
  form{
    margin:0;
  }
}


form{
  .btn{
    margin-right:5px;
  }
}

@media (max-width: 979px){
  .navbar-fixed-top, .navbar-fixed-bottom{
    margin: 0 -20px;
  }
  .admin #page{
    padding-top:20px;
  }
}
