section{
  padding-top:10px;
}

code{
  padding:0;
} 

footer{
  padding:40px 20px;
  text-align:center;
  .edits{
    margin-right: 40px;
  }
}

body{
  padding:0px 20px;
}

h3{
  line-height:45px;
}

.tagline{
  margin-bottom: 40px;
}

.centered{
  text-align:center;
}

.page-header{
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6{
    margin:0;
  }
}

.hero-unit{
  margin-bottom:0;
}


#call_to_action{
  margin-top:1.5em;
}

pre.prettyprint{
  margin-bottom:5px;
}

.admin{
  #page{
    padding:60px 0 40px 0;
  }
  .hero-unit{
    padding: 0px 0 0.5em 0;
  }
}


.row.header{
  .actions{
    padding-top:0.9em;
  }
}

header.row{
  .pagination{
    margin:12px 0;
  }
}

.navbar{
  .status{
    position: relative;
    i{
      position: absolute;
      left:-28px;
    }
  }
}

.summary_bar{
  .status{
    margin-left: 10px;
  }
  .summary{
    margin-top:12px;
  }
  .btn.btn-block{
    line-height: 28px;
  }
  ul{
    margin: 0 0 38px 0;
    h3{
      font-size: 1em;
      margin:0;
      font-weight:normal;
      line-height: 1em;
    }
    li{
      padding:8px 0 5px 0;
      border-bottom:1px solid #DDD;
      @include box-shadow(0 1px 0 white);
    }
    .desc{
      font-size:0.8em;
      font-weight:bold;
    }
    .count{
      color: $highlight_color;
      font-size: 1.5em;
      font-weight:bold;
    }
  }
  .poll-status{
    height:58px;  
  }
}


.queues{
  form{
    margin:0;
  }
}


form{
  .btn{
    margin-right:5px;
  }
}
@media (max-width: 979px){
  .navbar-fixed-top, .navbar-fixed-bottom{
    margin: 0 -20px;
  }
  .admin #page{
    padding-top:20px;
  }
}
