/* susy config */
/* see http://susy.oddbird.net/guides/reference/ */
$total-columns:     12;
$column-width:      4.5em;
$gutter-width:      1em;
$grid-padding:      $gutter-width;
$border-box-sizing: true;
$base-font-size:    13px;
$base-line-height:  20px;
$breakpoint:        0em 45em; /* min-max media query breakpoint */
$from-direction:    left;
$omega-float:       $from-direction;


/* column shortcuts */
$one-third:   $total-columns / 3;
$two-thirds:  $one-third * 2;
$half:        $total-columns / 2;
$one-fourth:  $total-columns / 4;

/* colors */
$black:     #292724;
$bg-color:  #f3f3f3;

/* others */
$font-size:         $base-font-size;
$line-height:       $base-line-height;
$container-padding: $base-line-height;