$split_width: 500px;
$kick_time : 0.2s;

@import 'compass';
@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/variables';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/prettify';


.btn{
  font-weight: 700;
  border     : none;
  @include border-radius(3px);
  @include box-shadow($smooth_shadow);
  @include background-image($btn_gradient);
  background-color:$btn_dark;
  &:hover{
    @include box-shadow($smooth_shadow_hover);
    background-color:$btn_dark;
  }
}

.btn-primary{
  @include background-image($btn_primary_gradient);
  background-color:$btn_primary_dark;
  &:hover{
    background-color:$btn_primary_dark;
  }
}


.btn.btn-inverse{
  @include background-image($black_gradient);
  color:white;
  &:hover{
    background-color:lighten($off_black, 10%);
  }
  strong{
    color: $main;
  }
}


.navbar-container{
  height:40px;

  .brand{
    @include transition(all $kick_time ease-out);
    span{
      @include transition(all $kick_time*1.5 ease-in);
      display:inline-block;
    }
  }
}

.navbar-container{
  .brand{
    padding:4px 0;
    margin-left:-1150px;
    @media (min-width: 1450px) {
      margin-left:-1250px;
    }
    @media (min-width: 1650px) {
      margin-left:-1350px;
    }
    @media (min-width: 1850px) {
      margin-left:-1450px;
    }
    @media (min-width: 2050px) {
      margin-left:-1550px;
    }
    @media (min-width: 2250px) {
      margin-left:-1650px;
    }
    @media (min-width: 2450px) {
      margin-left:-1750px;
    }
    @media (min-width: 2650px) {
      margin-left:-1850px;
    }
    span{
      margin-left:0;
      // padding: 10px 0;
    }
  }
  .affix{
    .brand{
      // margin-left:60px;
      margin-left:0px;
      span{
        // padding: 10px 20px 10px 5px;
      }
    }
  }
}

.navbar {
  ul.nav{
    text-align:center;
    float     :none;
    a{
      font-weight: 700;
      font-size  :16px;
      padding: 15px;
      @media (max-width: $split_width) {
        padding: 15px 5px;
      }

      &.brand{
        font-weight:400;
        padding:0 15px 0 0;
        @media (max-width: $split_width) {
          padding-right:5px;
        }
        color  :$btn_primary_dark;
        @include text-shadow(none);
      }
    }
    li{
      display:inline-block;
      float  :none;
    }
  }
  &.affix{
    top:0;
    width:100%;
    z-index: 10;
  }
}

.navbar-inner{
  @include border-radius(0);
  border-left:0;
  border-right:0;
  @media (max-width: $split_width) {
    padding:0;
  }
}

img.smallogo{
  width:30px;
  margin: 0px 0px 6px 0px;
}


.title{
  position:relative;
  &.reset{
    .image{
      position:relative;
      text-indent:-1400px;
    }
    .text{
      @include transform(rotate(0deg));
    }
  }
  .image{
    display:inline-block;
    text-indent:0;
    img{
      max-width:none;
    }

    @include transition(all $kick_time ease-out);
  }
  .text{
    display:inline-block;
    @include transition(all $kick_time ease-out $kick_time*0.90);

    @include transform(rotate(2deg));
  }

  .pro &{
    font-size:64px;
  }
}

.csstransforms3d{
  .title{
    margin:0 auto;
    width: 450px;
    @media (max-width: $split_width) {
      width: 280px;
      .logo{
        width: 60px;
      }
    }

    &.reset{
      .image{
        text-indent:0;
        @include transform3d(translateX(-1000px));
      }
      .text{
        @include transform3d(translateX(0px) rotate(0deg));
      }
    }
    .image{
      position:absolute;
      top: 0;
      left:0;
      @include transform3d(translateX(0px));
      img{
        position:absolute;
        top: 0;
        left:0;
      }
    }
    .text{
      @include transform3d(translateX(35px) rotateZ(2deg));
    }
  }
}

#call_to_action{
  position:relative;
  #pro_button{
    @media(min-width: 979px){
      @include transition(-webkit-transform $kick_time ease-out);
      &:hover{
        @include transform( rotate(2deg) scale(0.99, 0.99) );
      };
      position:absolute;
      font-size:24px;
      top: -250px;
      right: 0px;
      line-height: 24px;
      width: 200px;
      height: 200px;
      padding:55px 0 0 0;
      @include border-radius(200px);
      @include rotate(5deg);
    }
  }
}


.pro{
  .hero-unit{
    .title{
      strong{
        color:$off_black;
      }
    }
  }
}
