.rvmrc
.ruby-version
tags
*.swp
dump.rdb
.rbx
coverage/
vendor/
.bundle/
.sass-cache/
tmp/
pkg/*.gem
.byebug_history
development.log
/Dockerfile
/Makefile
/docker-compose.yml
Gemfile.lock
*.DS_Store
doc/
.yardoc/