html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.CodeRay {
  background-color: #333;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  font-size: 14px;
  color: #eee;
}
.CodeRay pre {
  margin: 0px;
}

span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
}
table.CodeRay td {
  padding: 10px 10px;
  vertical-align: top;
}

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #def;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt {
  font-weight: bold;
}
.CodeRay .line_numbers .highlighted {
  color: red;
}
.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}
.CodeRay .no {
  padding: 0px 4px;
}
.CodeRay .code {
  width: 100%;
}

ol.CodeRay {
  font-size: 10pt;
}
ol.CodeRay li {
  white-space: pre;
}

.CodeRay {
  background-color: black;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 16px;
  margin: 12px 0;
  text-align: left;
}

.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay .code pre {
  overflow: auto;
}
.CodeRay .debug {
  color: white !important;
  background: blue !important;
}
.CodeRay .af {
  color: #ffC;
}
.CodeRay .an {
  color: #ff7;
}
.CodeRay .at {
  color: #f08;
}
.CodeRay .av {
  color: #700;
}
.CodeRay .aw {
  color: #C00;
}
.CodeRay .bi {
  color: #509;
  font-weight: bold;
}
.CodeRay .c {
  color: #888;
}
.CodeRay .ch {
  color: #04D;
}
.CodeRay .ch .k {
  color: #04D;
}
.CodeRay .ch .dl {
  color: #039;
}
.CodeRay .cl {
  color: #B06;
  font-weight: bold;
}
.CodeRay .cm {
  color: #A08;
  font-weight: bold;
}
.CodeRay .co {
  color: #036;
  font-weight: bold;
}
.CodeRay .cr {
  color: #0A0;
}
.CodeRay .cv {
  color: #369;
}
.CodeRay .de {
  color: #B0B;
}
.CodeRay .df {
  color: #099;
  font-weight: bold;
}
.CodeRay .di {
  color: #088;
  font-weight: bold;
}
.CodeRay .dl {
  color: black;
}
.CodeRay .do {
  color: #970;
}
.CodeRay .dt {
  color: #34b;
}
.CodeRay .ds {
  color: #D42;
  font-weight: bold;
}
.CodeRay .e {
  color: #666;
  font-weight: bold;
}
.CodeRay .en {
  color: #800;
  font-weight: bold;
}
.CodeRay .er {
  color: #F00;
  background-color: #FAA;
}
.CodeRay .ex {
  color: #C00;
  font-weight: bold;
}
.CodeRay .fl {
  color: #60E;
  font-weight: bold;
}
.CodeRay .fu {
  color: #06B;
  font-weight: bold;
}
.CodeRay .gv {
  color: #d70;
  font-weight: bold;
}
.CodeRay .hx {
  color: #058;
  font-weight: bold;
}
.CodeRay .i {
  color: #00D;
  font-weight: bold;
}
.CodeRay .ic {
  color: #B44;
  font-weight: bold;
}
.CodeRay .il {
  background: #ddd;
  color: black;
}
.CodeRay .il .il {
  background: #ccc;
}
.CodeRay .il .il .il {
  background: #bbb;
}
.CodeRay .il .idl {
  background: #ddd;
  font-weight: bold;
  color: #666;
}
.CodeRay .idl {
  background-color: #bbb;
  font-weight: bold;
  color: #666;
}
.CodeRay .im {
  color: #f00;
}
.CodeRay .in {
  color: #B2B;
  font-weight: bold;
}
.CodeRay .iv {
  color: #33B;
}
.CodeRay .la {
  color: #970;
  font-weight: bold;
}
.CodeRay .lv {
  color: #963;
}
.CodeRay .oc {
  color: #40E;
  font-weight: bold;
}
.CodeRay .of {
  color: #000;
  font-weight: bold;
}
.CodeRay .pc {
  color: #038;
  font-weight: bold;
}
.CodeRay .pd {
  color: #369;
  font-weight: bold;
}
.CodeRay .pp {
  color: #579;
}
.CodeRay .ps {
  color: #00C;
  font-weight: bold;
}
.CodeRay .pt {
  color: #074;
  font-weight: bold;
}
.CodeRay .r {
  color: #080;
  font-weight: bold;
}

.kw {
  color: #080;
  font-weight: bold;
}

.CodeRay .ke {
  color: #808;
}
.CodeRay .ke .dl {
  color: #606;
}
.CodeRay .ke .ch {
  color: #80f;
}
.CodeRay .vl {
  color: #088;
}
.CodeRay .rx {
  background-color: #fff0ff;
}
.CodeRay .rx .k {
  color: #808;
}
.CodeRay .rx .dl {
  color: #404;
}
.CodeRay .rx .mod {
  color: #C2C;
}
.CodeRay .rx .fu {
  color: #404;
  font-weight: bold;
}
.CodeRay .s {
  background-color: #fff0f0;
  color: #D20;
}
.CodeRay .s .s {
  background-color: #ffe0e0;
}
.CodeRay .s .s.s {
  background-color: #ffd0d0;
}
.CodeRay .s .ch {
  color: #b0b;
}
.CodeRay .s .dl {
  color: #710;
}
.CodeRay .sh {
  background-color: #f0fff0;
  color: #2B2;
}
.CodeRay .sh .dl {
  color: #161;
}
.CodeRay .sy {
  color: #A60;
}
.CodeRay .sy .k {
  color: #A60;
}
.CodeRay .sy .dl {
  color: #630;
}
.CodeRay .ta {
  color: #070;
}
.CodeRay .tf {
  color: #070;
  font-weight: bold;
}
.CodeRay .ts {
  color: #D70;
  font-weight: bold;
}
.CodeRay .ty {
  color: #339;
  font-weight: bold;
}
.CodeRay .v {
  color: #036;
}
.CodeRay .xt {
  color: #444;
}
.CodeRay .ins {
  background: #afa;
}
.CodeRay .del {
  background: #faa;
}
.CodeRay .chg {
  color: #aaf;
  background: #007;
}
.CodeRay .head {
  color: #f8f;
  background: #505;
}
.CodeRay .ins .ins {
  color: #080;
  font-weight: bold;
}
.CodeRay .del .del {
  color: #800;
  font-weight: bold;
}
.CodeRay .chg .chg {
  color: #66f;
}
.CodeRay .head .head {
  color: #f4f;
}

.CodeRay .an {
  color: #E7BE69;
}

/* html attribute */
.CodeRay .c {
  color: #BC9358;
  font-style: italic;
}

/* comment */
.CodeRay .ch {
  color: #509E4F;
}

/* escaped character */
.CodeRay .cl {
  color: #FFF;
}

/* class */
.CodeRay .co {
  color: #FFF;
}

/* constant */
.CodeRay .fl {
  color: #A4C260;
}

/* float */
.CodeRay .fu {
  color: #FFC56D;
}

/* function */
.CodeRay .gv {
  color: #D0CFFE;
}

/* global variable */
.CodeRay .i {
  color: #A4C260;
}

/* integer */
.CodeRay .il {
  background: #151515;
}

/* inline code */
.CodeRay .iv {
  color: #D0CFFE;
}

/* instance variable */
.CodeRay .pp {
  color: #E7BE69;
}

/* doctype */
.CodeRay .r {
  color: #CB7832;
}

/* keyword */
.CodeRay .rx {
  color: #A4C260;
}

/* regex */
.CodeRay .s {
  color: #A4C260;
}

/* string */
.CodeRay .sy {
  color: #6C9CBD;
}

/* symbol */
.CodeRay .ta {
  color: #E7BE69;
}

/* html tag */
.CodeRay .pc {
  color: #6C9CBD;
}

/* boolean */
html {
  background: url("background.png");
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica, arial, sans-serif;
  color: #02314d;
  width: 960px;
  margin: 0 auto;
  line-height: 1.2;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-variant: small-caps;
  text-shadow: #aaaaaa 2px 2px 2px;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 42px;
}

#wrapper {
  width: 780px;
  margin-left: 150px;
  clear: both;
}

strong {
  font-weight: bold;
}

header {
  margin: 20px 0 0 0;
}
header .slogan {
  width: 750px;
  float: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
header .slogan p {
  font-size: 20px;
  margin: 14px 0;
}
header .slogan p.catch-phrase {
  font-style: italic;
}
header .slogan h1 {
  text-shadow: #aaaaaa 2px 2px 2px;
}
header img {
  float: left;
  height: 160px;
}

a {
  font-weight: bold;
  color: #022840;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  float: right;
  padding: 20px;
  margin: auto;
}
nav ul {
  font-size: 24px;
}
nav ul li {
  display: inline;
  padding: 5px 10px;
}

p {
  margin: 20px 0;
  letter-spacing: .5px;
}

.kudos {
  float: right;
  font-size: 0.9em;
}

blockquote {
  border-left: 5px solid #ed1b24;
  color: #555555;
  margin: 14px 0;
  padding-left: 18px;
}

code, tt {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 14px;
}
