/*
*= require_self
*= require vendor/bootstrap
*= require vendor/bootstrap-responsive
*/
body {
  position: relative;
  padding-top: 90px;
  background-color: #aaa;
}

td form {
  margin: 0;
}

td form .btn {
  margin: 0;
}

