.public{
  .title{
    position:relative;
    &.reset{
      .image{
        position:relative;
        text-indent:-1400px;
      }
      .text{
        @include transform(rotate(0deg));
      }
    }
    .image{
      display:inline-block;
      text-indent:0;
      img{
        max-width:none;
      }

      @include transition(all $kick_time ease-out);
    }
    .text{
      display:inline-block;
      @include transition(all $kick_time ease-out $kick_time*0.90);

      @include transform(rotate(2deg));
    }
  }
  &.csstransforms3d{
    .title{
      margin:0 auto;
      width: 450px;
      @media (max-width: $split_width) {
        width: 280px;
        .logo{
          width: 60px;
        }
      }

      &.reset{
        .image{
          text-indent:0;
          @include transform3d(translateX(-1000px));
        }
        .text{
          @include transform3d(translateX(0px) rotate(0deg));
        }
      }
      .image{
        position:absolute;
        top: 0;
        left:0;
        @include transform3d(translateX(0px));
        img{
          position:absolute;
          top: 0;
          left:0;
        }
      }
      .text{
        @include transform3d(translateX(35px) rotateZ(2deg));
      }
    }
  }
  .navbar-inner{
    @include border-radius(0);
    border-left:0;
    border-right:0;
    @media (max-width: $split_width) {
      padding:0;
    }
  }
}

