$split_width: 500px;

@import 'compass';

@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/variables';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/prettify';

@import 'partials/navbar';

$kick_time : 0.2s;

$status_spacing: 50px;
@import 'status/*.png';
@include all-status-sprites;


.btn{
  font-weight: 700;
  border     : none;
  @include border-radius(3px);
  @include box-shadow($smooth_shadow);
  @include background-image($btn_gradient);
  &:hover{
    background-color:$btn_dark;
  }
}

.btn-primary{
  @include background-image($btn_primary_gradient);
  &:hover{
    background-color:$btn_primary_dark;
  }
}

.btn-danger{
  @include background-image($btn_danger_gradient);
  &:hover{
    background-color:$btn_danger_dark;
  }
}

.poll-status{
  padding:10px 0;
}

// .status_idle{
//   @include background-image('images/status/idle.png');
// }

@mixin status_size($icon){
  $height: status-sprite-height($icon);
  $width : status-sprite-width($icon);
  height : $height;
  width  : $width;
  display: inline-block;
}

.status-idle{
  @include status_size('idle');
}
.status-active{
  @include status_size('active');
}
