<div id="logo-carousel" class="logo-carousel noscript-carousel">
  <ul class="logo-list">
    <li><img src="/img/clients/digitalocean.png"></li>
    <li><img src="/img/clients/groupon.png"></li>
    <li><img src="/img/clients/livingsocial.png"></li>
    <li><img src="/img/clients/oracle.png"></li>
    <li><img src="/img/clients/heroku.png"></li>
    <li><img src="/img/clients/condenast.png"></li>
    <li><img src="/img/clients/adobe.png"></li>
    <li><img src="/img/clients/kickstarter.png"></li>
    <li><img src="/img/clients/esri.png"></li>
    <li><img src="/img/clients/charitywater.png"></li>
    <li><img src="/img/clients/watsi.png"></li>
    <li><img src="/img/clients/customerio.png"></li>
    <li><img src="/img/clients/zenpayroll.png"></li>
  </ul>
</div>