<footer class="skq-subfooter">
  <div class="fluid-container">
    <h4>Questions, comments, &amp; concerns?<a
        href="mailto:info@contribsys.com?subject=Sidekiq%20question,%20comment,%20concern" type="button"
        class="btn btn-default">info@contribsys.com</a></h4>
  </div>
  <form class="text-center" action="https://tinyletter.com/sidekiq" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/sidekiq', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="tlemail">Subscribe to our semi-occasional newsletter and keep up to date on new Sidekiq features and changes.</label>
    <div class="subscribe-form">
      <input type="text" style="width:240px" name="email" id="tlemail" class="subscribe-form__email" />
      <input type="hidden" value="1" name="embed"/>
      <input type="submit" value="Subscribe" class="btn btn-primary btn-white subscribe-form__submit" />
    </div>
  </form>
</footer>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <div class="skq-footer-brand">
          Sidekiq<a href="https://rubyheroes.com/" target="_new"><img src="/img/hero-award.svg" class="skq-award"></a><a
            href="https://www.blackducksoftware.com/open-source-rookies/2012-recipients" target="_new"><img
            src="/img/rookie-award.png" class="skq-award"></a>
        </div>
      </div>
      <div class="col-xs-5">
        <a href="https://contribsys.com/" target="_new"><img src="/img/cs-footer-logo.png" class="skq-footer-logo"></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <a href="/about.html">About</a><br>
        <a href="/products/pro.html">Pro</a><br>
        <a href="/products/enterprise.html">Enterprise</a>
      </div>
      <div class="col-sm-2">
        <a href="https://github.com/mperham/sidekiq/wiki" target="_new">Wiki
          <small><span class="glyphicon glyphicon-new-window"></span></small>
        </a><br>
        <a href="/support.html">Support</a><br>
        <a href="https://github.com/mperham/sidekiq/" target="_new">Source
          <small><span class="glyphicon glyphicon-new-window"></span></small>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://c5c6ccf4-bdb2-4cc0-b2e5-d26f6e2f9d14.site.hbuptime.com" target="_new">Status
          <small><span class="glyphicon glyphicon-new-window"></span></small>
        </a><br>
        <a href="https://twitter.com/sidekiq" target="_new">On Twitter
          <small><span class="glyphicon glyphicon-new-window"></span></small>
        </a><br>
        <a href="https://confreaks.com/videos/1290-rubyconf2012-asynchronous-processing-for-fun-and-profit"
          target="_new">At Rubyconf 2012
          <small><span class="glyphicon glyphicon-new-window"></span></small>
        </a>
      </div>
      <div class="col-sm-5">
        <hr class="visible-xs">
        <small>Copyright © 2021 Contributed Systems LLC.<br class="hidden-xs">
          Made with care in Portland, OR.
        </small>
      </div>
    </div>
  </div>
</footer>
