<head>
  <meta charset="utf8">
  <title>Sidekiq</title>
  <meta name="description" content="Simple, efficient background jobs for Ruby">
  <meta name="twitter:site" content="@sidekiq">
  <meta name="twitter:card" content="summary" />
  <meta property="og:site_name" content="Sidekiq">
  <meta property="og:type" content="company">
  <meta property="og:title" content="Simple, efficient background jobs for Ruby">
  <meta property="og:url" content="//sidekiq.org">
  <meta property="og:image" content="//sidekiq.org/assets/sidekiq.png">
  <meta property="og:description" content="Sidekiq is a simple, efficient framework for background jobs in Ruby">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata|Montserrat:400,700">
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/scrollingcarousel.2.0.min.js"></script>
  <script defer src="/js/skq-global.js"></script>
</head>
