<header>
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top default">
    <div class="container-fluid skq-header">
      <div class="navbar-header">
        <a href="/" class="skq navbar-brand">Sidekiq</a><span
          class="default skq-tagline navbar-brand col-sm-5 hidden-md">Simple, efficient background jobs for Ruby.</span>
      </div>
      <div id="navbar-top-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/" class="skq-nav-link">Back</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
