section{
  padding-top:10px;
}

code{
  padding:0;
} 

footer{
  padding:40px 20px;
  text-align:center;
  .edits{
    margin-right: 40px;
  }
}

#page{
  padding:0px 20px 40px 20px;
}

.tagline{
  margin-bottom: 40px;
}

.centered{
  text-align:center;
}

.page-header{
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6{
    margin:0;
  }
}

.hero-unit{
  margin-bottom:0;
}


#call_to_action{
  margin-top:1.5em;
}

pre.prettyprint{
  margin-bottom:5px;
}
