@mixin button(){
  font-weight: 700;
  border     : none;
  @include border-radius(3px);
  @include box-shadow($smooth_shadow);
  @include background-image($btn_gradient);
  background-color:$btn_dark;
  &:hover{
    @include box-shadow($smooth_shadow_hover);
    background-color:$btn_dark;
  }
}
@mixin primary_button(){
  @include background-image($btn_primary_gradient);
  background-color:$btn_primary_dark;
  &:hover{
    background-color:$btn_primary_dark;
  }
}

@mixin inverse_button(){
  @include background-image($black_gradient);
  color:white;
  &:hover{
    background-color:lighten($off_black, 10%);
  }
  strong{
    color: $main;
  }
}
