.navbar-inner
  .container
    a.brand href='#{{root_path}}'
      = Sidekiq::NAME
    ul.nav
      - tabs.each do |title, url|
        - if url == ''
          li class="#{(current_path == url) ? 'active':''}"
            a href='#{{root_path}}#{{url}}' = t(title)
        - else
          li class="#{(current_path =~ Regexp.new(url)) ? 'active':''}"
            a href='#{{root_path}}#{{url}}' = t(title)

      - custom_tabs.each do |title, url|
          li class="#{(current_path =~ Regexp.new(url)) ? 'active':''}"
            a href='#{{root_path}}#{{url}}' = title
