- if @total_size > @count
  .pagination.pagination-right
    ul
      li class="#{'disabled' if @current_page == 1}"
        a href="#{url}?page=1" «
      - if @current_page > 1
        li
          a href="#{url}?page=#{@current_page - 1}" #{@current_page - 1}
      li.disabled
        a href="#{url}?page=#{@current_page}" #{@current_page}
      - if @total_size > @current_page * @count
        li
          a href="#{url}?page=#{@current_page + 1}" #{@current_page + 1}
      li class="#{'disabled' if @total_size <= @current_page * @count}"
        a href="#{url}?page=#{(@total_size.to_f / @count).ceil}" »
