<div class="row header">
  <div class="col-sm-7">
    <h3><%= t('Workers') %></h3>
  </div>
</div>

<%= erb :_workers %>
<% if workers_size > 0 %>
  <div class="row">
    <div class="col-sm-2 pull-right">
      <form action="<%= root_path %>reset" method="post">
        <button class="btn btn-primary btn-block" type="submit"><%= t('ClearWorkerList') %></button>
      </form>
    </div>
  </div>
<% end %>
