.row.header
  .span7
    h3 = t('Workers')

== slim :_workers
- if workers.size > 0
  .row
    .span2.pull-right
      form action="#{root_path}reset" method="post"
        button.btn.btn-primary.btn-block type="submit" = t('ClearWorkerList')
