h1 Queues

- if @queues.size > 0
  table class="table table-striped table-bordered"
    tr
      th Queue
      th Size
      th
    - queues.each do |(queue, size)|
      tr
        td
          a href="#{root_path}queues/#{queue}" #{queue}
        td= number_with_delimiter(size)
        td
          form action="#{root_path}queues/#{queue}" method="post"
            input.btn.btn-danger type="submit" name="delete" value="Delete" data-confirm="Are you sure you want to delete the #{queue} queue?"
- else
  p No queues found.
  a href="#{root_path}" Back
