header.row
  .span5
    h3
      == t('CurrentMessagesInQueue', :queue => @name)
  .span4
    == slim :_paging, :locals => { :url => "#{root_path}queues/#{@name}" }

table class="queue table table-hover table-bordered table-striped"
  thead
    th = t('Class')
    th = t('Arguments')
    th
  - @messages.each_with_index do |msg, index|
    tr
      td= msg['class']
      td
        - if msg['args'] and msg['args'].to_s.size > 100
          = msg['args'].inspect[0..100] + "... "
          button data-toggle="collapse" data-target="#worker_#{index}" class="btn btn-mini" = t('ShowAll')
          .toggle[id="worker_#{index}" style="display: none;"]= msg['args']
        - else
          = msg['args']
      td
        form action="#{root_path}queues/#{@name}/delete" method="post"
          input name="key_val" value="#{Sidekiq.dump_json(msg)}" type="hidden"
          input.btn.btn-danger.btn-mini type="submit" name="delete" value="#{t('Delete')}" data-confirm="#{t('AreYouSure')}"
== slim :_paging, :locals => { :url => "#{root_path}queues/#{@name}" }
