h1 Scheduled Jobs

- if @scheduled.size > 0
  == slim :_paging, :locals => { :url => "#{root_path}scheduled" }

  form action="#{root_path}scheduled" method="post"
    table class="table table-striped table-bordered"
      tr
        th
          input type="checkbox" class="check_all"
        th When
        th Queue
        th Worker
        th Args
      - @scheduled.each do |(msg, score)|
        tr
          td
            input type='checkbox' name='score[]' value='#{score}'
          td== relative_time(Time.at(score))
          td
            a href="#{root_path}queues/#{msg['queue']}" #{msg['queue']}
          td= msg['class']
          td= display_args(msg['args'])
    input.btn.btn-danger type="submit" name="delete" value="Delete"
- else
  p No scheduled jobs found.
  a href="#{root_path}" Back
